<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
</head>
<body>
  <h1><%= title.replace(/\.title$/, '') %></h1>
  <pre><%= skriptContent %></pre>
  <a href="/skripts">Back to List</a>
</body>
</html>
